@import "mixins";

:host {
	grid-column: 1/-1;
}

.section {
	// .section__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(169), 1fr));
		gap: toRem(24);
	}
}
