<div class="not-found">
  <div class="not-found__block">
    <div class="not-found__icon">
      <img width="60" height="60" src="/assets/icons/error-page-logo.svg" alt="Logo" />
    </div>
    <div class="not-found__content">
      <h1 class="not-found__title">Page not available</h1>
      <p class="not-found__text text-body-medium">Something went wrong, please try again later.</p>
      <a [routerLink]="['/home']" class="not-found__button button button--primary">Home</a>
    </div>
  </div>
</div>
