<div class="not-found">
	<div class="not-found__content">
		<img class="not-found__img" src="./assets/icons/spotify-logo.svg" alt="Company logo">
		<div class="not-found__text">
			<h1 class="not-found__title">Page not available</h1>
			<h2 class="not-found__subtitle text-size-smaller-2">Something went wrong, please try again later.</h2>
		</div>
		<a [routerLink]="['/home']" class="not-found__button not-found__button--home button button--fill">Home</a>
		<a [routerLink]="['/home']" class="not-found__button not-found__button--help button">Help</a>
	</div>
</div>