<div class="not-found">
  <div class="not-found__block text-center inset-center">
    <div class="not-found__icon">
      <img src="/assets/icons/error-page-logo.svg" width="60" height="60" alt="Logo" />
    </div>
    <div class="not-found__content grid-row-center">
      <h1 class="not-found__title text-title-medium">Page not available</h1>
      <p class="not-found__text text-body-medium break-words">
        Something went wrong, please try again later.
      </p>
      <a [routerLink]="['/home']" class="not-found__button button button--primary">Home</a>
    </div>
  </div>
</div>
