@import "mixins";

.not-found {
	position: relative;
	height: 100%;
	// .not-found__block
	&__block {
		padding: toRem(32);
	}
	// .not-found__icon
	&__icon {
		margin-bottom: toRem(20);
	}
	// .not-found__content
	&__content {
		row-gap: toRem(25);
	}
	// .not-found__text
	&__text {
		color: var(--text-silver);
	}
}
