@import "mixins";

:host {
	position: sticky;
	left: 0;
	top: var(--header-height);
	z-index: 5;
	grid-column: 1/-1;
}

.search-nav {
	display: flex;
	align-items: center;
	gap: toRem(12);
	white-space: nowrap;
}
