<article class="media-item media-item--base" *ngIf="mediaItem.type === 'playlist'">
	<div class="media-item__top">
		<div class="media-item__img" #mediaItemImg>
			<img [lazyLoad]="mediaItem.images | notFoundImage" [extractColor]="mediaItemImg" crossorigin alt>
		</div>
		<div class="media-item__wrap-play">
			<button type="button" class="button button--play _icon-player" [playBtnLabel]="mediaItem"></button>
		</div>
	</div>
	<div class="media-item__details">
		<a [routerLink]="['/playlist', mediaItem.id]" class="media-item__title">{{mediaItem.name}}</a>
		<div class="media-item__subtitle text-size-smaller-3">
			<span>By {{ mediaItem.owner.display_name }}</span>
		</div>
	</div>
</article>