<section class="main__section section">
	<h2 class="section__title text-size-larger" *ngIf="sectionTitle">{{ sectionTitle }}</h2>
	<swiper-container slides-per-view="6" space-between="16" free-mode="true">
		<ng-container *ngFor="let mediaItem of mediaContent" [ngSwitch]="mediaItem.type">
			<swiper-slide>
				<app-album-card *ngSwitchCase="'album'" [mediaItem]="mediaItem" [isAlbumDate]="isAlbumDate"></app-album-card>
				<app-artist-card *ngSwitchCase="'artist'" [mediaItem]="mediaItem"></app-artist-card>
				<app-playlist-card *ngSwitchCase="'playlist'" [mediaItem]="mediaItem"></app-playlist-card>
			</swiper-slide>
		</ng-container>
	</swiper-container>
</section>