@import "mixins";

:host {
	grid-column: 1/-1;
}

.section {
	// .section__title
	&__title {
		margin-bottom: toRem(20);
	}
}

swiper-container {
	margin: 0 toRem(-12);
}

swiper-slide {
	height: unset;
	min-height: 100%;
}
