<section class="main__section section" [ariaLabel]="sectionTitle">
	<div class="section__container">
		<div class="section__top">
			<h2 class="section__title" *ngIf="sectionTitle">{{ sectionTitle }}</h2>
			<button class="section__show-more button" *ngIf="currentLengthOfItems < totalItems && isShowMore" showMore
				[currentLength]="currentLengthOfItems" (newItemLength)="newItemLength($event)">Show
				more</button>
		</div>
		<div class="section__cards">
			<app-card *ngFor="let musicItem of musicContent.items | slice:0:currentLengthOfItems" [musicItem]="musicItem"
				[isImageRounded]="musicContent.isImageRounded" [isAlbumDate]="musicContent.isAlbumDate">
			</app-card>
		</div>
	</div>
</section>