<section class="main__section section">
	<div class="section__container">
		<div class="section__top">
			<h2 class="section__title" *ngIf="sectionTitle">{{ sectionTitle }}</h2>
			<button class="section__show-more button" *ngIf="currentLengthOfItems < totalItems && isShowMore" showMore
				[currentLength]="currentLengthOfItems" (newItemLength)="newItemLength($event)">Show
				more</button>
		</div>
		<div class="section__cards">
			<ng-container *ngFor="let mediaItem of mediaContent.items | slice:0:currentLengthOfItems"
				[ngSwitch]="mediaItem.type">
				<app-album-card *ngSwitchCase="'album'" [mediaItem]="mediaItem"
					[isAlbumDate]="mediaContent.isAlbumDate"></app-album-card>
				<app-artist-card *ngSwitchCase="'artist'" [mediaItem]="mediaItem"></app-artist-card>
				<app-playlist-card *ngSwitchCase="'playlist'" [mediaItem]="mediaItem"></app-playlist-card>
			</ng-container>
		</div>
	</div>
</section>