<article class="media-item" *ngIf="mediaItem.type === 'track'">
	<div class="media-item__column">
		<div class="media-item__about">
			<div class="media-item__img">
				<img [lazyLoad]="mediaItem.album.images| notFoundImage" alt>
				<button type="button" class="media-item__button button _icon-player" [playBtnLabel]="mediaItem"></button>
			</div>
			<div class="media-item__content">
				<a [routerLink]="['/track', mediaItem.id]" class="media-item__title">{{ mediaItem.name }}</a>
				<div class="media-item__extra">
					<span class="media-item__explicit" *ngIf="mediaItem.explicit" title="Explicit">E</span>
					<div class="media-item__artists text-size-smaller-3">
						<ng-container *ngFor="let artist of mediaItem.artists; let last = last">
							<a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
							<ng-container>{{ !last ? ', ' : '' }}</ng-container>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="media-item__column media-item__column--last">
		<span class="media-item__length text-size-smaller-3">{{ mediaItem.duration_ms | date:'m:ss' }}</span>
	</div>
</article>