@import "mixins";
@import "vars";

.media-item {
	display: grid;
	grid-template-columns: minmax(toRem(120), 4fr) minmax(toRem(120), 1fr);
	gap: toRem(16);
	align-items: center;
	padding: toRem(8) toRem(10);
	border-radius: var(--corner-radius-larger);
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--tuna);
			.media-item__button {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .media-item__column
	&__column {
		&--last {
			justify-self: flex-end;
		}
	}
	// .media-item__content
	&__content {
		max-width: 100%;
	}
	// .media-item__extra
	&__extra {
		flex-wrap: nowrap;
	}
	// .media-item__about
	&__about {
		display: flex;
		align-items: center;
		gap: toRem(12);
	}
	// .media-item__img
	&__img {
		position: relative;
		max-width: toRem(40);
		aspect-ratio: 40 / 40;
		flex: 0 0 auto;
	}
	// .media-item__button
	&__button {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		border-radius: var(--corner-radius-smaller-2);
		background: rgba(0, 0, 0, 0.5);
		color: var(--cyan);
		transition:
			opacity 0.3s ease-in-out,
			visibility 0.3s ease-in-out;
	}
	// .media-item__title
	&__title {
		margin-bottom: toRem(1);
		&::before {
			content: "";
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .media-item__artists
	&__artists {
		-webkit-line-clamp: 1;
	}
	// .media-item__length
	&__length {
		line-height: 1.2;
		color: var(--secondary);
	}
}
