<ng-container *ngIf="(vm$ | async) as vm">
	<ng-container *ngIf="vm.searchResults; else categories">
		<ng-container *ngIf="totalResults; else noResults">
			<app-search-nav [mediaTypes]="searchNavItems" [currMediaType]="vm.type">
			</app-search-nav>
			<app-search-results [searchResults]="vm.searchResults" [currMediaType]="vm.type">
			</app-search-results>
		</ng-container>
	</ng-container>
	<ng-template #categories>
		<app-search-categories [categories]="vm.categories"></app-search-categories>
	</ng-template>
	<ng-template #noResults>
		<app-no-results [term]="vm.term"></app-no-results>
	</ng-template>
</ng-container>