@import "mixins";

:host {
	position: sticky;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
}

.header {
	// .header__container
	&__container {
		gap: toRem(10);
		min-height: var(--header-height);
	}
	// .header__content-wrapper
	&__content-wrapper {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}
}
