@import "mixins";

.sidebar {
	display: flex;
	flex-direction: column;
	gap: toRem(8);
	height: 100%;
	overflow: auto;
	&__top,
	&__body {
		padding: toRem(18) toRem(20);
		border-radius: toRem(8);
		background-color: var(--smoke);
	}
	// .sidebar__body
	&__body {
		flex-grow: 1;
	}
	// .sidebar__logo
	&__logo {
		margin-bottom: toRem(28);
	}
}

.nav-sidebar {
	// .nav-sidebar__list
	&__list {
		display: grid;
		gap: toRem(25);
	}
	// .nav-sidebar__link
	&__link {
		display: inline-flex;
		align-items: center;
		gap: toRem(10);
		width: 100%;
		font-size: toRem(18);
		font-weight: 500;
		border-radius: toRem(6);
		color: var(--primary);
		transition:
			background 0.3s ease-in-out,
			color 0.3s ease-in-out;
		&.is-active {
			pointer-events: none;
			color: var(--cyan);
		}
		&._icon-search {
			&::before {
				font-size: toRem(20);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--cyan);
			}
		}
	}
}

.playlists-sidebar {
	// .playlists-sidebar__title
	&__title {
		margin-bottom: toRem(20);
		font-size: toRem(20);
		font-weight: 500;
	}
	// .playlists-sidebar__list
	&__list {
		display: grid;
		gap: toRem(30);
		margin-bottom: toRem(25);
	}
	// .playlists-sidebar__link
	&__link {
		width: 100%;
		font-size: toRem(16);
		color: var(--primary);
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--cyan);
			}
		}
	}
	// .playlists-sidebar__add
	&__add {
		display: flex;
		align-items: center;
		gap: toRem(10);
		padding: 0;
		border: none;
		@media (any-hover: hover) {
			&:hover {
				.playlists-sidebar__text {
					color: var(--cyan);
				}
			}
		}
	}
	// .playlists-sidebar__icon
	&__icon {
		position: relative;
		flex-basis: toRem(30);
		width: toRem(30);
		height: toRem(30);
		border-radius: toRem(6);
		background-color: var(--mako);
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: var(--cyan);
				}
			}
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: toRem(2);
			background-color: var(--secondary);
			transition: background 0.3s ease-in-out;
		}
		&::before {
			width: 60%;
			height: toRem(1);
		}
		&::after {
			width: toRem(1);
			height: 60%;
		}
	}
	// .playlists-sidebar__text
	&__text {
		color: var(--primary);
		font-size: toRem(18);
		transition: color 0.3s ease-in-out;
	}
}
