@import "mixins";

.skeleton {
	// .skeleton__card
	&__card {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: toRem(12);
		background-color: var(--charade);
		border-radius: toRem(12);
	}
}

.card-skeleton {
	// .card-skeleton__img
	&__img {
		height: toRem(200);
		margin-bottom: toRem(16);
		border-radius: toRem(4);
	}
	// .card-skeleton__title
	&__title {
		margin-bottom: toRem(8);
	}
	&__img,
	&__title {
		width: 100%;
	}
	// .card-skeleton__subtitle
	&__subtitle {
		width: 70%;
	}
}
