@import "mixins";

:host {
	flex: 0 1 toRem(364);
}

.search-header {
	position: relative;
	&::before {
		position: absolute;
		top: 50%;
		left: toRem(12);
		transform: translateY(-50%);
	}
	// .search-header__input
	&__input {
		width: 100%;
		padding: toRem(12) toRem(50) toRem(12) toRem(40);
		border-radius: var(--corner-radius-base);
		background-color: var(--background-indigo-dark);
		color: var(--text-base);
		transition: background 0.2s linear;
		&::placeholder {
			color: inherit;
		}
		&:focus-visible {
			outline: toRem(1) solid #fff;
		}
		@media (any-hover: hover) {
		}
	}
	// .search-header__button
	&__button {
		position: absolute;
		right: toRem(20);
		top: 52%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		border: none;
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--secondary);
			}
		}
	}
}
