@import "mixins";

:host {
	flex: 0 1 toRem(364);
}

.search-header {
	&::before {
		position: absolute;
		top: 50%;
		left: toRem(12);
		transform: translateY(-50%);
		color: var(--text-subdued);
		transition: color 0.2s linear;
	}
	&:focus-within {
		&::before {
			color: var(--text-base);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			&::before {
				color: var(--text-base);
			}
		}
	}
	// .search-header__input
	&__input {
		width: 100%;
		height: toRem(40);
		padding: 0 toRem(40);
		border-radius: var(--corner-radius-base);
		background-color: var(--background-ghost-white);
		color: var(--text-base);
		transition: background 0.1s linear;
		&:focus-visible {
			outline: 1px solid #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--background-misty-white);
			}
		}
	}
	// .search-header__button
	&__button {
		position: absolute;
		right: toRem(10);
		top: 52%;
		transform: translateY(-50%);
		transition: color 0.2s linear;
		&::before {
			font-size: toRem(12);
		}
	}
}
