<article class="card card--base" *ngIf="mediaItem.type === 'playlist'">
	<div class="card__top">
		<div class="card__img" #cardImg>
			<img [lazyLoad]="mediaItem.images | notFoundImage" [extractColor]="cardImg" crossorigin alt>
		</div>
		<div class="card__wrap-play">
			<button type="button" class="button button--play _icon-player" [playBtnLabel]="mediaItem"></button>
		</div>
	</div>
	<div class="card__details">
		<a [routerLink]="['/playlist', mediaItem.id]" class="card__title">{{mediaItem.name}}</a>
		<div class="card__subtitle text-size-smaller-3">
			<span>By {{ mediaItem.owner.display_name }}</span>
		</div>
	</div>
</article>