<div class="wrapper">
	<app-sidebar></app-sidebar>
	<div class="page">
		<app-header-auth></app-header-auth>
		<ng-container *ngIf="vm$ | async as vm; else skeletonLoader">
			<main class="main">
				<app-section [sectionTitle]="'New Releases'" [musicContent]="{items:vm.newReleases}"></app-section>
			</main>
			<app-footer></app-footer>
		</ng-container>
	</div>
</div>

<ng-template #skeletonLoader>
	<main class="main">
		<app-section-skeleton *ngFor="let item of obsList"></app-section-skeleton>
	</main>
</ng-template>