<div class="wrapper">
	<app-sidebar></app-sidebar>
	<div class="page">
		<app-header></app-header>
		<ng-container *ngIf="vm$ | async as vm; else skeletonLoader">
			<main class="main">
				<div class="main__container">
					<app-base-section *ngIf="vm.newReleases.length" [sectionTitle]="'New Releases'"
						[mediaContent]="vm.newReleases">
					</app-base-section>
				</div>
			</main>
			<app-footer></app-footer>
		</ng-container>
	</div>
</div>

<ng-template #skeletonLoader>
	<main class="main">
		<div class="main__container">
			<app-section-skeleton *ngFor="let item of obsList"></app-section-skeleton>
		</div>
	</main>
</ng-template>