<nav class="left-sidebar sticky flex-col" aria-label="Main navigation">
  <div class="left-sidebar__top">
    <a [routerLink]="['/home']" class="left-sidebar__logo">
      <img src="/assets/icons/spotify-logo.svg" width="100" height="30" alt="Logo" />
    </a>
  </div>
  <div class="left-sidebar__body">
    <ul class="left-sidebar__list">
      <li class="left-sidebar__item">
        <a
          class="left-sidebar__link flex-row-center text-body-medium _icon-home"
          [routerLink]="['/home']"
          routerLinkActive="_active"
        >
          <span>Home</span>
        </a>
      </li>
      <li class="left-sidebar__item">
        <a
          class="left-sidebar__link flex-row-center text-body-medium _icon-magnifier"
          [routerLink]="['/search']"
          routerLinkActive="_active"
        >
          <span>Search</span>
        </a>
      </li>
      <li class="left-sidebar__item">
        <a
          class="left-sidebar__link flex-row-center text-body-medium _icon-library"
          [routerLink]="['/library']"
          routerLinkActive="_active"
        >
          <span>Your library</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="left-sidebar__bottom">
    <button class="left-sidebar__logout flex-row-center _icon-logout" (click)="onLogout()">
      <span>Logout</span>
    </button>
  </div>
</nav>
