<div class="wrapper">
	<app-sidebar></app-sidebar>
	<div class="page">
		<app-header-auth>
			<app-search-bar [currentSearchTerm]="searchTerm" class="search-bar"></app-search-bar>
		</app-header-auth>
		<main class="main">
			<ng-container *ngIf="(vm$ | async) as vm; else loader">
				<ng-container [ngSwitch]="vm.search ? 'search' : 'categories'">
					<ng-container *ngSwitchCase="'search'" [ngTemplateOutlet]="searchSection"
						[ngTemplateOutletContext]="{$implicit: vm.search}"></ng-container>
					<ng-container *ngSwitchCase="'categories'" [ngTemplateOutlet]="categorySection"
						[ngTemplateOutletContext]="{$implicit: vm.categories}"></ng-container>
				</ng-container>
			</ng-container>
		</main>
	</div>
</div>

<ng-template #searchSection let-search>
	<ng-container *ngIf="search.searchResults; else noResults">
		<app-section *ngIf="search.artists.items.length" [title]="'Artists'" [isShowMore]="false"
			[dataArray]="{items: search.artists.items, isImageRounded: true}"></app-section>
		<app-section *ngIf="search.albums.items.length" [title]="'Albums'" [isShowMore]="false"
			[dataArray]="{items: search.albums.items, isAlbumDate: true}">
		</app-section>
		<app-footer></app-footer>
	</ng-container>
</ng-template>

<ng-template #categorySection let-categories>
	<ng-container *ngIf="categories">
		<app-categories [categories]="categories"></app-categories>
		<app-footer></app-footer>
	</ng-container>
</ng-template>

<ng-template #noResults>
	<div class="no-results">
		<div class="no-results__container">
			<h1 class="no-results__title">No results found for "{{searchTerm}}"</h1>
			<p class="no-results__text">
				Please make sure your words are spelled correctly, or use fewer or different keywords.
			</p>
		</div>
	</div>
	<app-footer></app-footer>
</ng-template>

<ng-template #loader>
	<span class="loader"></span>
</ng-template>

<!-- Buttons: All, Artists, Albums, Songs, Episodes, Playlists -->