@import "mixins";

.no-results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: 1/-1;
	text-align: center;
	// .no-results__title
	&__title {
		margin-bottom: toRem(20);
		overflow-wrap: break-word;
	}
}
