<div class="wrapper">
	<app-sidebar></app-sidebar>
	<div class="page">
		<app-header-auth>
			<app-search-bar [currentSearchTerm]="searchTerm" class="search-bar"></app-search-bar>
		</app-header-auth>
		<ng-container *ngIf="(vm$ | async) as vm; else loader">
			<main class="main">
				<ng-container [ngSwitch]="vm.search ? 'search' : 'categories'">
					<ng-container *ngSwitchCase="'categories'" [ngTemplateOutlet]="categorySection"
						[ngTemplateOutletContext]="{$implicit: vm.categories}"></ng-container>
					<ng-container *ngSwitchCase="'search'" [ngTemplateOutlet]="searchSection"
						[ngTemplateOutletContext]="{$implicit: vm.search}"></ng-container>
				</ng-container>
			</main>
			<app-footer></app-footer>
		</ng-container>
	</div>
</div>

<ng-template #categorySection let-categories>
	<ng-container *ngIf="categories">
		<app-categories [categories]="categories"></app-categories>
	</ng-container>
</ng-template>

<ng-template #searchSection let-search>
	<ng-container *ngIf="search.searchResults; else noResults">
		<app-section *ngIf="search.artists.items.length" [sectionTitle]="'Artists'" [isShowMore]="false"
			[mediaContent]="{items: search.artists.items}"></app-section>
		<app-section *ngIf="search.albums.items.length" [sectionTitle]="'Albums'" [isShowMore]="false"
			[mediaContent]="{items: search.albums.items, isAlbumDate: true}">
		</app-section>
		<app-section *ngIf="search.playlists.items.length" [sectionTitle]="'Playlists'" [isShowMore]="false"
			[mediaContent]="{items: search.playlists.items}">
		</app-section>
	</ng-container>
</ng-template>

<ng-template #noResults>
	<div class="no-results">
		<div class="no-results__container">
			<h1 class="no-results__title">No results found for "{{searchTerm}}"</h1>
			<p class="no-results__text">
				Please make sure your words are spelled correctly, or use fewer or different keywords.
			</p>
		</div>
	</div>
</ng-template>

<ng-template #loader>
	<span class="loader"></span>
</ng-template>