@import "mixins";

.main {
	&__top {
		display: flex;
		align-items: flex-start;
		gap: toRem(12);
	}
}

.search-header {
	position: relative;
	flex-basis: toRem(340);
	// .search-header__input
	&__input {
		width: 100%;
		padding: toRem(16) toRem(60) toRem(16) toRem(40);
		border-radius: toRem(36);
		background-image: url("../../../../assets/icons/search.svg");
		background-repeat: no-repeat;
		background-position: toRem(12);
		background-color: var(--smoke);
		border: toRem(2) solid var(--charade);
		color: var(--primary);
		transition: background 0.3s ease-in-out;
		&::placeholder {
			color: var(--silver);
		}
		&:focus-visible {
			outline: toRem(1) solid var(--primary);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--charade);
			}
		}
	}
	// .search-header__button
	&__button {
		position: absolute;
		right: toRem(20);
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		border: none;
		font-size: toRem(24);
		color: var(--primary);
	}
}

.no-results {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	// .no-results__title
	&__title {
		margin-bottom: toRem(20);
		font-size: toRem(24);
		color: var(--primary);
		overflow-wrap: break-word;
	}
	// .no-results__text
	&__text {
		color: var(--primary);
	}
}
