<sp-top-bar></sp-top-bar>
<main class="page">
  <div class="page__container">
    <sp-greeting></sp-greeting>
    <ng-container
      *ngIf="{userData: userData$ | async, userDataError: userDataError$ | async} as vm"
    >
      <ng-container *ngIf="!vm.userDataError && vm.userData as userData; else loading">
        <div class="grid-container">
          <!-- Recently played -->
          <section class="section col-span-full" *ngIf="userData.recentPlayed.length">
            <h2 class="section__title text-title-small">Recently played</h2>
            <div class="section__items common-grid">
              <ng-container *ngFor="let item of userData.recentPlayed">
                <sp-card
                  [title]="item.name"
                  [description]="item.artists[0].name"
                  [routerUrl]="'/track/' + item.id"
                  [imageUrl]="item.album.images[0]?.url"
                ></sp-card>
              </ng-container>
            </div>
          </section>
          <!-- Favorite tracks -->
          <section class="section col-span-full" *ngIf="userData.topTracks.length">
            <h2 class="section__title text-title-small">Your favorite tracks</h2>
            <div class="section__items common-grid">
              <ng-container *ngFor="let item of userData.topTracks; trackById">
                <sp-card
                  [title]="item.name"
                  [description]="item.artists[0].name"
                  [routerUrl]="'/track/' + item.id"
                  [imageUrl]="item.album.images[0]?.url"
                ></sp-card>
              </ng-container>
            </div>
          </section>
          <!-- Favorite artists -->
          <section class="section col-span-full" *ngIf="userData.topArtists.length">
            <h2 class="section__title text-title-small">Your favorite artists</h2>
            <div class="section__items common-grid">
              <ng-container *ngFor="let item of userData.topArtists; trackById">
                <sp-card
                  [title]="item.name"
                  [description]="item.type | titlecase"
                  [routerUrl]="'/artist/' + item.id"
                  [imageUrl]="item.images[0]?.url"
                  [roundedImage]="true"
                ></sp-card>
              </ng-container>
            </div>
          </section>
        </div>
      </ng-container>
      <span *ngIf="vm.userDataError as error">{{ error }}</span>

      <ng-template #loading>
        <sp-loading-spinner *ngIf="!vm.userDataError"></sp-loading-spinner>
      </ng-template>
    </ng-container>
  </div>
</main>
