.button {
	display: inline-flex;
	padding: 0;
	text-align: center;
	&--primary {
		transform: scale(1.01);
		padding: toRem(12) toRem(32);
		border-radius: var(--corner-radius-larger);
		background-color: var(--background-cyan);
		color: var(--text-press);
		font-weight: 700;
		line-height: 1.4;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&--play {
		align-items: center;
		justify-content: center;
		width: toRem(48);
		height: toRem(48);
		transform: scale(1.01);
		border-radius: 50%;
		background-color: var(--background-cyan);
		&::before {
			font-size: toRem(22);
			color: var(--background-press);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--background-cyan-light);
				transform: scale(1.1);
			}
		}
	}
}
