@import "mixins";
@import "vars";

.media-item {
	position: relative;
	padding: toRem(20);
	border-radius: var(--corner-radius-larger-2);
	background-color: var(--smoke);
	transition: background-color 0.3s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--tuna);
			.media-item__wrap-play {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
	// .media-item__img
	&__img {
		margin-bottom: toRem(20);
		aspect-ratio: 92 / 92;
		max-width: toRem(92);
	}
	// .media-item__title
	&__title {
		margin-bottom: toRem(12);
		font-weight: 700;
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			inset: 0;
		}
	}
	// .media-item__type
	&__type {
		&::after {
			content: "•";
			margin-left: toRem(4);
		}
	}
	// .media-item__artists
	&__artists {
		color: var(--primary);
	}
	// .media-item__wrap-play
	&__wrap-play {
		right: toRem(24);
		bottom: toRem(24);
	}
}
