@import "mixins";

.footer {
	padding: toRem(70) 0;
	// .footer__top
	&__top {
		display: flex;
		justify-content: space-between;
		gap: toRem(30);
		margin-bottom: toRem(48);
	}
	// .footer__divider
	&__divider {
		margin-block-start: 0;
		margin-block-end: toRem(24);
		border: 0;
		border-block-start: 1px solid var(--background-subdued);
	}
	// .footer__bottom
	&__bottom {
		gap: toRem(20);
		padding-top: toRem(16);
	}
}

.top-footer {
	// .top-footer__links
	&__links {
		display: flex;
		flex-grow: 1;
		gap: toRem(24);
	}
	// .top-footer__group
	&__group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 0 1 20%;
		gap: toRem(16);
	}
	// .top-footer__link
	&__link {
		color: var(--text-subdued);
		transition: color 0.2s linear;
		@media (any-hover: hover) {
			&:hover {
				color: var(--text-base);
				text-decoration: underline;
			}
		}
	}
}

.bottom-footer {
	// .bottom-footer__links
	&__links {
		flex-wrap: wrap;
		gap: toRem(16);
	}
	// .bottom-footer__link
	&__link {
		color: var(--text-subdued);
		transition: color 0.2s linear;
		@media (any-hover: hover) {
			&:hover {
				color: var(--text-base);
			}
		}
	}
	// .bottom-footer__copyright
	&__copyright {
		flex: 0 0 auto;
		align-self: flex-start;
		color: var(--text-subdued);
	}
}
