<div class="footer" aria-label="Secondary navigation">
	<div class="footer__container">
		<nav class="footer__nav">
			<div class="footer__top top-footer">
				<div class="top-footer__links">
					<div class="top-footer__group">
						<h2 class="top-footer__title text-body-medium-bold">
							Company
						</h2>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">About</a>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">Jobs</a>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">
							For the Record
						</a>
					</div>
					<div class="top-footer__group">
						<h2 class="top-footer__title text-body-medium-bold">
							Communities
						</h2>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">
							For Artists
						</a>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">
							Developers
						</a>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">
							Advertising
						</a>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">
							Investors
						</a>
					</div>
					<div class="top-footer__group">
						<h2 class="top-footer__title text-body-medium-bold">
							Useful links
						</h2>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">
							Support
						</a>
						<a [routerLink]="'/home'" class="top-footer__link text-body-medium">
							Free Mobile App
						</a>
					</div>
				</div>
				<div class="top-footer__social-links social-links">
					<a [routerLink]="'/home'" class="social-links__item _icon-instagram" aria-label="Instagram"
						title="Instagram"></a>
					<a [routerLink]="'/home'" class="social-links__item _icon-twitter" aria-label="Twitter" title="Twitter"></a>
					<a [routerLink]="'/home'" class="social-links__item _icon-facebook" aria-label="Facebook"
						title="Facebook"></a>
				</div>
			</div>
			<hr class="footer__divider">
			<div class="footer__bottom bottom-footer flex-sb-center">
				<div class="bottom-footer__links flex-row-center">
					<a [routerLink]="'/home'" class="bottom-footer__link text-body-small">Legal</a>
					<a [routerLink]="'/home'" class="bottom-footer__link text-body-small">
						Safety & Privacy Center
					</a>
					<a [routerLink]="'/home'" class="bottom-footer__link text-body-small">
						Privacy Policy
					</a>
					<a [routerLink]="'/home'" class="bottom-footer__link text-body-small">Cookies</a>
					<a [routerLink]="'/home'" class="bottom-footer__link text-body-small">About Ads</a>
					<a [routerLink]="'/home'" class="bottom-footer__link text-body-small">Accessibility</a>
				</div>
				<small class="bottom-footer__copyright text-body-small">
					© {{ currentYear }} Spotify AB
				</small>
			</div>
		</nav>
	</div>
</div>