<article class="card" *ngIf="mediaItem.type === mediaTypes.album">
  <div class="card__top">
    <div class="card__play flex-all-center">
      <button
        type="button"
        class="button button--play _icon-play"
        [playBtnLabel]="mediaItem"
      ></button>
    </div>
    <div class="card__img card__img-ibg" #mediaItemImg>
      <img [src]="mediaItem.images | notFoundImage" [extractColor]="mediaItemImg" crossorigin alt />
    </div>
  </div>
  <div class="card__interactive-area flex-col-start">
    <a
      [routerLink]="['/album', mediaItem.id]"
      class="card__title truncate link-cover text-body-medium"
      [title]="mediaItem.name"
    >
      {{ mediaItem.name }}
    </a>
    <div class="card__details truncate-double text-body-small">
      <time
        class="card__date"
        *ngIf="isAlbumDate"
        [attr.datetime]="mediaItem.release_date | date: 'y'"
      >
        {{ mediaItem.release_date | date: 'y' }} •
      </time>
      <ng-container *ngFor="let artist of mediaItem.artists | slice: 0 : 3; let last = last">
        <a [routerLink]="['/artist', artist.id]" class="card__artist">{{ artist.name }}</a>
        <ng-container>{{
          !last ? ',  ' : mediaItem.artists.length > 3 ? ' and more' : ''
        }}</ng-container>
      </ng-container>
    </div>
  </div>
</article>
