<aside class="sidebar">
	<div class="sidebar__user">Profile</div>
	<nav class="sidebar__nav" [title]="navTitle">
		<ul class="sidebar__list">
			<li class="sidebar__item" *ngFor="let menuItem of menuItems">
				<a class="sidebar__link {{menuItem.icon}}" [routerLink]="[menuItem.path]" routerLinkActive="is-active"
					[routerLinkActiveOptions]="{exact: true}">
					{{menuItem.name}}
				</a>
			</li>
		</ul>
	</nav>
	<div class="sidebar__group">
		<h2 class="sidebar__title">My playlists</h2>
		<ul class="sidebar__list">
			<li class="sidebar__item">
				<a href="#" class="sidebar__link">Mixes and Radio</a>
			</li>
			<li class="sidebar__item">
				<a href="#" class="sidebar__link">September</a>
			</li>
			<li class="sidebar__item">
				<a href="#" class="sidebar__link">Clubbing</a>
			</li>
			<li class="sidebar__item">
				<a href="#" class="sidebar__link">Chil story2</a>
			</li>
			<li class="sidebar__item">
				<a href="#" class="sidebar__link">Playlist 342</a>
			</li>
		</ul>
	</div>
</aside>