@import "mixins";
@import "vars";

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: toRem(12);
	border-radius: toRem(12);
	overflow: hidden;
	transition: background-color 0.3s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--charade);
			.card__wrap-play {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
	// .card__top
	&__top {
		position: relative;
		margin-bottom: toRem(16);
	}
	// .card__img
	&__img {
		aspect-ratio: 200 / 200;
		overflow: hidden;
		border-radius: toRem(4);
		img {
			width: 100%;
		}
		&._rounded {
			border-radius: 50%;
		}
	}
	// .card__wrap-play
	&__wrap-play {
		@extend %wrap-play;
		right: toRem(8);
		bottom: toRem(10);
	}
	// .card__details
	&__details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .card__title
	&__title {
		max-width: 100%;
		margin-bottom: toRem(6);
		font-weight: 700;
		font-size: toRem(16);
		color: var(--primary);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			inset: 0;
		}
	}
	// .card__artist
	&__artists {
		@extend %ellipsis;
		position: relative;
		z-index: 2;
		font-size: toRem(14);
		font-weight: 500;
		a {
			display: inline;
			line-height: 1.4;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	// .card__type
	&__subtitle {
		@extend %ellipsis;
		font-size: toRem(14);
		font-weight: 500;
		line-height: 1.2;
		text-transform: capitalize;
	}
}
