<article class="card">
	<div class="card__top">
		<div class="card__img" [ngClass]="{'_rounded': isImageRounded}" #cardImg>
			<img [lazyLoad]="data.images | notFoundImage" [extractColor]="cardImg" crossorigin alt>
		</div>
		<div class="card__wrap-play">
			<button type="button" class="card__play _icon-player" [playBtnLabel]="data"></button>
		</div>
	</div>
	<div class="card__info" [ngSwitch]="data.type">
		<ng-container *ngSwitchCase="'album'">
			<a [routerLink]="['/album', data.id]" class="card__title">{{data.name}}</a>
			<div class="card__artists" *ngIf="data.type === 'album'">
				<time *ngIf="isAlbumDate" [attr.datetime]="data.release_date | date:'y'">{{data.release_date | date:'y'}} •
				</time>
				<ng-container *ngFor="let artist of data.artists | slice:0:3; let last = last">
					<a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
					<ng-container>{{ !last ? ',' : (data.artists.length > 3 ? ' and more' : '') }}
					</ng-container>
				</ng-container>
			</div>
		</ng-container>
		<ng-container *ngSwitchCase="'artist'">
			<a [routerLink]="['/artist', data.id]" class="card__title">{{data.name}}</a>
			<div class="card__type">
				<span>{{ data.type }}</span>
			</div>
		</ng-container>
	</div>
</article>