<article class="card">
	<div class="card__top">
		<div class="card__img" [ngClass]="{'_rounded': isImageRounded}" #cardImg>
			<img [lazyLoad]="musicItem.images | notFoundImage" [extractColor]="cardImg" crossorigin alt>
		</div>
		<div class="card__wrap-play">
			<button type="button" class="card__play _icon-player" [playBtnLabel]="musicItem"></button>
		</div>
	</div>
	<div class="card__info" [ngSwitch]="musicItem.type">
		<ng-container *ngSwitchCase="'album'">
			<a [routerLink]="['/album', musicItem.id]" class="card__title">{{musicItem.name}}</a>
			<div class="card__artists" *ngIf="musicItem.type === 'album'">
				<time *ngIf="isAlbumDate" [attr.datetime]="musicItem.release_date | date:'y'">{{musicItem.release_date |
					date:'y'}} •
				</time>
				<ng-container *ngFor="let artist of musicItem.artists | slice:0:3; let last = last">
					<a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
					<ng-container>{{ !last ? ',' : (musicItem.artists.length > 3 ? ' and more' : '') }}
					</ng-container>
				</ng-container>
			</div>
		</ng-container>
		<ng-container *ngSwitchCase="'artist'">
			<a [routerLink]="['/artist', musicItem.id]" class="card__title">{{musicItem.name}}</a>
			<div class="card__type">
				<span>{{ musicItem.type }}</span>
			</div>
		</ng-container>
	</div>
</article>