<article class="song" *ngIf="mediaItem.type === 'track'">
	<div class="song__about">
		<div class="song__img">
			<img [lazyLoad]="mediaItem.album.images| notFoundImage" alt>
			<button type="button" class="song__button button _icon-player" [playBtnLabel]="mediaItem"></button>
		</div>
		<div class="song__content">
			<a [routerLink]="['/track', mediaItem.id]" class="song__title">{{ mediaItem.name }}</a>
			<div class="song__extra">
				<span class="song__explicit" *ngIf="mediaItem.explicit" title="Explicit">E</span>
				<div class="song__artists">
					<ng-container *ngFor="let artist of mediaItem.artists; let last = last">
						<a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
						<ng-container>{{ !last ? ', ' : '' }}</ng-container>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
	<span class="song__length">{{ mediaItem.duration_ms | date:'m:ss' }}</span>
</article>