<div class="footer">
	<div class="footer__inner">
		<div class="footer__main">
			<nav class="footer__nav nav-footer" [title]="navTitle">
				<ul class="nav-footer__list">
					<li class="nav-footer__item">
						<h2 class="nav-footer__title">Company</h2>
						<a [routerLink]="[menuItem.path]" class="nav-footer__link" *ngFor="let menuItem of companyMenuItems">{{
							menuItem.name }}</a>
					</li>
					<li class="nav-footer__item">
						<h2 class="nav-footer__title">Communities</h2>
						<a [routerLink]="[menuItem.path]" class="nav-footer__link" *ngFor="let menuItem of communitiesMenuItems">{{
							menuItem.name }}</a>
					</li>
					<li class="nav-footer__item">
						<h2 class="nav-footer__title">Useful links</h2>
						<a [routerLink]="[menuItem.path]" class="nav-footer__link" *ngFor="let menuItem of usefulLinksMenuItems">{{
							menuItem.name }}</a>
					</li>
				</ul>
			</nav>
			<div class="footer__social social">
				<a [routerLink]="[socialItem.path]" [class]="'social__item ' + socialItem.icon"
					*ngFor="let socialItem of socialItems"></a>
			</div>
		</div>
		<div class="footer__extra extra-footer">
			<ul class="extra-footer__list">
				<li class="extra-footer__item" *ngFor="let extraMenuItem of extraMenuItems">
					<a [routerLink]="[extraMenuItem.path]" class="extra-footer__link">{{ extraMenuItem.name }}</a>
				</li>
			</ul>
			<small class="extra-footer__copy">© 2024 Spotify AB</small>
		</div>
	</div>
</div>