// Visually hidden //
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// Grid styles //
.common-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(toRem(200), 1fr));
	gap: toRem(14);
}

.col-span-full {
	grid-column: 1/-1;
}

.grid-row-center {
	display: grid;
	justify-items: center;
}

// Flex styles //
.flex-row-center {
	display: flex;
	align-items: center;
}

.flex-row-end {
	display: flex;
	align-items: flex-end;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.flex-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-sb-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

// Spacing //
.mb-5 {
	margin-bottom: toRem(20);
}

// Text styles //
.text-body-medium,
.text-body-medium-bold {
	font-size: var(--text-size-base);
}

.text-body-small,
.text-body-small-bold {
	font-size: var(--text-size-smaller);
}

.text-body-marginal,
.text-body-marginal-bold {
	font-size: var(--text-size-smaller-2);
}

.text-body-medium-bold,
.text-body-small-bold,
.text-body-marginal-bold {
	font-weight: var(--font-weight-bold);
}

.text-title-large {
	font-size: var(--text-size-larger-3);
}

.text-title-medium {
	font-size: var(--text-size-larger-2);
}

.text-title-small {
	font-size: var(--text-size-larger);
}

.text-title-large,
.text-title-medium,
.text-title-small {
	font-weight: var(--font-weight-bold);
}

.text-center {
	text-align: center;
}

// Text truncation //
.truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: anywhere;
}

.truncate-one-line {
	-webkit-line-clamp: 1;
}

.truncate-two-line {
	-webkit-line-clamp: 2;
}

// Section styles //
.section {
	display: flex;
	flex-direction: column;
	row-gap: var(--section-internal-gap);
}

// Positioning //
.relative {
	position: relative;
}

.sticky {
	position: sticky;
	top: 0;
}

.inset-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

// Word break //
.break-words {
	overflow-wrap: break-word;
}

// Lining //
.lining {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: var(--top-bar-opacity, 1);
	background-color: var(--background-press);
	z-index: -1;
	transition: opacity 0.2s linear;
}
