<article class="card" *ngIf="mediaItem.type === mediaItemTypes.Artist">
  <div class="card__top">
    <div class="card__play flex-all-center">
      <button
        type="button"
        class="button button--play _icon-play"
        [playBtnLabel]="mediaItem"
      ></button>
    </div>
    <div class="card__img card__img-ibg _rounded" #mediaItemImg>
      <img [src]="mediaItem.images | notFoundImage" [extractColor]="mediaItemImg" crossorigin alt />
    </div>
  </div>
  <div class="card__interactive-area flex-col-start">
    <a
      [routerLink]="['/artist', mediaItem.id]"
      class="card__title truncate link-cover text-body-medium"
      [title]="mediaItem.name"
    >
      {{ mediaItem.name }}
    </a>
    <div class="card__details truncate-double text-body-small">
      <span>{{ mediaItem.type }}</span>
    </div>
  </div>
</article>
