@import "mixins";

.top-bar {
	z-index: 50;
	// .top-bar__container
	&__container {
		gap: toRem(10);
		min-height: var(--top-bar-height);
	}
	// .top-bar__content-wrapper
	&__content-wrapper {
		flex-grow: 1;
	}
}
