@import "mixins";
@import "vars";

.top-bar {
	z-index: 50;
	// .top-bar__container
	&__container {
		gap: toRem(10);
		min-height: var(--top-bar-height);
	}
	// .top-bar__content-wrapper
	&__content-wrapper {
		flex-grow: 1;
	}
	// .top-bar__control
	&__control {
		@media (max-width: $tablet) {
			.nav-controls__button--next {
				display: none;
			}
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
}
