@import "mixins";

.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: var(--shark);
	// .not-found__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(40);
		text-align: center;
	}
	// .not-found__img
	&__img {
		width: toRem(60);
	}
	// .not-found__text
	&__text {
		display: grid;
		gap: toRem(20);
	}
	// .not-found__title
	&__title {
		font-size: toRem(46);
	}
	// .not-found__subtitle
	&__subtitle {
		font-weight: 400;
	}
	// .not-found__button
	&__button {
		// .not-found__button--help
		&--help {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
