.wrapper {
	display: grid;
	height: 100%;
	grid-template-columns: toRem(280) 1fr;
	gap: toRem(8);
	overflow: clip;
	padding: toRem(8);
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: toRem(8);
	background-color: var(--shark);
	overflow: auto;
}

.main {
	flex-grow: 1;
	margin-top: toRem(8);
	&__container {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		gap: toRem(32) toRem(12);
		& > * {
			grid-column: 1/-1;
		}
	}
}

.text-size-smaller-4 {
	font-size: var(--text-size-smaller-4);
}

.text-size-smaller-3 {
	font-size: var(--text-size-smaller-3);
}

.text-size-smaller-2 {
	font-size: var(--text-size-smaller-2);
}

.text-size-smaller {
	font-size: var(--text-size-smaller);
}

.text-size-larger {
	font-size: var(--text-size-larger);
}

.text-size-larger-2 {
	font-size: var(--text-size-larger-2);
}
