.wrapper {
	display: grid;
	height: 100%;
	grid-template-columns: toRem(280) 1fr;
	overflow: clip;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--shark);
	overflow-y: auto;
}

.main {
	flex-grow: 1;
	margin-top: toRem(8);
	&__container {
		height: 100%;
	}
}

.text-size-smaller-4 {
	font-size: var(--text-size-smaller-4);
}

.text-size-smaller-3 {
	font-size: var(--text-size-smaller-3);
}

.text-size-smaller-2 {
	font-size: var(--text-size-smaller-2);
}

.text-size-smaller {
	font-size: var(--text-size-smaller);
}

.text-size-larger {
	font-size: var(--text-size-larger);
}

.text-size-larger-2 {
	font-size: var(--text-size-larger-2);
}
