[class*="_icon-"]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
  content: "\e905";
}
._icon-twitter:before {
  content: "\e906";
}
._icon-instagram:before {
  content: "\e907";
}
._icon-cross:before {
  content: "\e900";
}
._icon-search:before {
  content: "\e901";
}
._icon-player:before {
  content: "\e902";
}
._icon-arrow:before {
  content: "\e903";
}
._icon-home:before {
  content: "\e904";
}
