[class*="_icon-"]::before {
  display: block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-play:before {
  content: "\e902";
}
._icon-skip:before {
  content: "\e907";
}
._icon-pause:before {
  content: "\e908";
}
._icon-instagram:before {
  content: "\e90a";
}
._icon-facebook:before {
  content: "\e90b";
}
._icon-twitter:before {
  content: "\e90c";
}
._icon-library:before {
  content: "\e900";
}
._icon-duration:before {
  content: "\e901";
}
._icon-chevron:before {
  content: "\e903";
}
._icon-logout:before {
  content: "\e904";
}
._icon-close:before {
  content: "\e905";
}
._icon-home:before {
  content: "\e906";
}
._icon-magnifier:before {
  content: "\e909";
}
