.wrapper {
	display: grid;
	grid-template-areas: "left-sidebar main-view";
	height: 100%;
	grid-template-columns: auto 1fr;
	overflow: clip;
}

.main-view {
	grid-area: main-view;
	min-height: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
	&__content {
		overflow-y: auto;
	}
}

.page {
	margin: toRem(8) 0 toRem(70);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
	gap: toRem(32) toRem(12);
}
