// Visually hidden //
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// Grid styles //
.common-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(toRem(200), 1fr));
	gap: toRem(14);
}

.col-span-full {
	grid-column: 1/-1;
}

.grid-row-center {
	display: grid;
	justify-items: center;
}

// Flex styles //
.flex-row-center {
	display: flex;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.flex-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-sb-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// Text styles //
.text-body-medium,
.text-body-medium-bold {
	font-size: var(--text-size-base);
}

.text-body-small,
.text-body-small-bold {
	font-size: var(--text-size-smaller);
}

.text-body-marginal,
.text-body-marginal-bold {
	font-size: var(--text-size-smaller-2);
}

.text-body-medium-bold,
.text-body-small-bold,
.text-body-marginal-bold {
	font-weight: var(--font-weight-bold);
}

.text-title-medium {
	font-size: var(--text-size-larger-2);
}

.text-title-small {
	font-size: var(--text-size-larger);
}

.text-title-medium,
.text-title-small {
	font-weight: var(--font-weight-bold);
}

.text-center {
	text-align: center;
}

// Section styles //
.section {
	// .section__title
	&__title {
		margin-bottom: var(--section-internal-gap);
	}
}

// Text truncation //
.truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	overflow-wrap: anywhere;
}

// Positioning //
.inset-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

// Word break //
.break-words {
	overflow-wrap: break-word;
}
