//====================================================================================================
// Root variables
//====================================================================================================
:root {
	// Typography
	--font-family-base: "Inter";
	--font-weight-base: 400;
	--font-weight-bold: 700;

	// Text scaling
	--text-size-smaller-2: 0.75rem; // 12px
	--text-size-smaller: 0.875rem; // 14px
	--text-size-base: 1rem; // 16px
	--text-size-larger: 1.5rem; // 24px
	--text-size-larger-2: 2rem; // 32px

	// Corner radius
	--corner-radius-base: 0.25rem; // 4px
	--corner-radius-larger: 0.375rem; // 6px
	--corner-radius-larger-2: 0.5rem; // 8px

	// Color scheme
	--background-black: #191624;
	--background-midnight-blue: linear-gradient(to bottom right, #191624, #121286);
	--background-ghost-white: rgba(255, 255, 255, 0.05);
	--background-misty-white: rgba(255, 255, 255, 0.1);
	--background-cyan: rgb(34 211 238);
	--background-cyan-light: rgb(103 232 249);
	--background-subdued: rgb(156 163 175);
	--text-base: #fff;
	--text-cyan: rgb(34 211 238);
	--text-subdued: rgb(156 163 175);
	--text-silver: rgb(209 213 219);

	// Layout
	--left-sidebar-width: 15.063rem; // 241px
	--header-height: 4rem; // 64px
	--section-internal-gap: 1.25rem; // 20px
}

//====================================================================================================
// Adaptive grid
//====================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1955;
$containerOffset: 16;
$containerWidth: calc($maxWidthContainer + ($containerOffset * 2));

//====================================================================================================
// Breakpoints
//====================================================================================================
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
$mobileExtraSmall: em(389.98);
