// Root
:root {
	--font-family-base: "Inter";
	--font-weight-base: 400;
	--font-weight-bold: 700;

	--text-size-smaller-2: 0.75rem;
	--text-size-smaller: 0.875rem;
	--text-size-base: 1rem;
	--text-size-larger: 1.5rem;

	--corner-radius-base: 4px;
	--corner-radius-larger: 6px;
	--corner-radius-larger-2: 8px;

	--background-space-black: #020319;
	--background-warning: #f5d400;
	--background-midnight-blue: #090e50;
	--background-ultramarine: #090b9c;
	--background-royal-blue: #1222d3;
	--background-indigo-dark: #2d35c292;
	--text-base: #fff;

	--panel-gap: 8px;
	--left-sidebar-width: 241px;
	--header-height: 64px;
}

// Adaptive grid
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1135;
$containerOffset: 16;
$containerWidth: calc($maxWidthContainer + ($containerOffset * 2));

// Breakpoints
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
$mobileExtraSmall: em(389.98);
