<article class="card card--base" *ngIf="mediaItem.type === 'album'">
	<div class="card__top">
		<div class="card__img" #cardImg>
			<img [lazyLoad]="mediaItem.images | notFoundImage" [extractColor]="cardImg" crossorigin alt>
		</div>
		<div class="card__wrap-play">
			<button type="button" class="button button--play _icon-player" [playBtnLabel]="mediaItem"></button>
		</div>
	</div>
	<div class="card__details">
		<a [routerLink]="['/album', mediaItem.id]" class="card__title">{{mediaItem.name}}</a>
		<div class="card__artists text-size-smaller-3">
			<time class="card__date" *ngIf="isAlbumDate" [attr.datetime]="mediaItem.release_date | date:'y'">
				{{mediaItem.release_date | date:'y'}}
			</time>
			<ng-container *ngFor="let artist of mediaItem.artists | slice:0:3; let last = last">
				<a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
				<ng-container>{{ !last ? ', ' : (mediaItem.artists.length > 3 ? ' and more' : '') }}
				</ng-container>
			</ng-container>
		</div>
	</div>
</article>